node_modules/
.env
.env.*
!.env.example
!.env.raft.example
dist/
build/
coverage/
docs/
.DS_Store
fabric/wallet/
fabric/crypto-config/
fabric/organizations/
wallet/
*.id
*.pem
*.key
*.txt
!backend/database/
!backend/database/*.txt
*.md

!README.md
!docs/
docs/*
!docs/IMPLEMENTATION_GUIDE.md
